@font-face {
    font-family: "Souvenir";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Souvenir-Demi.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Inter-Regular.woff") format("woff");
    font-display: swap;
}

body {
    color: #155029;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    font-family: "Inter";
    font-size: 14px;
    text-align: center;
}

.logo {
padding: 10vh;
}

img {
    width: 30vh;
}

a {
     color: #155029;
}

h1 {
    font-family: "Souvenir";
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 2rem;
    width: 200px;
    line-height: 21px;
}

h2 {
    font-family: "Souvenir";
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

p {
    margin: 0;
    padding: 0 0 2rem 0;
}

.company-name-and-contact {
    display: flex;
    align-items: center;
    flex-flow: column;
}

@media (max-width: 43em) {
    body {
        padding: 1rem 3rem;
    }

    .logo {
        position: relative;
        left: 0;
        top: 0;
        padding-bottom: 1rem;
    }

    img {
        width: 40vw;
        padding-right: 1rem;
    }
}